# emacs backup files
*~
.Rhistory
.Rapp.history
.Rdata
ignoreWork
.DS*
*.o
*.so
*.dll
*.dylib
*.lnk
*.tar.gz
TEMP*
MyMakevars
#*.R
*.Rproj
.Rproj.user
*.Rproj

/packages/nimble/inst/CppCode/Makeconf

