language: r
r:
    - 3.5

dist: bionic
sudo: false

cache:
  packages: true
  directories:
    - $HOME/.cache/pip

# We parallelize the tests into baches, and run only one batch on OS X.
matrix:
  include:
    - os: osx
      env: NIMBLE_TEST_BATCH=1
    - os: linux
      env: NIMBLE_TEST_BATCH=1
    - os: linux
      env: NIMBLE_TEST_BATCH=2
    - os: linux
      env: NIMBLE_TEST_BATCH=3
    - os: linux
      env: NIMBLE_TEST_BATCH=4
    - os: linux
      env: NIMBLE_TEST_BATCH=5

warnings_are_errors: true

notifications:
  email:
    recipients:
      - dbt1@williams.edu
    on_success: always
    on_failure: always

branches:
  only:
    - devel

latex: false  # Work around tlmgr issues.

addons:
  apt:
    packages:
      - time  # For /usr/bin/time profiling.

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mkdir $HOME/bin; ln -s $(which pip2) $HOME/bin/pip; fi
  - pip install --upgrade --force-reinstall --user travis pip setuptools wheel virtualenv
  - ./install_requirements.R
  # - pip freeze
  - R CMD build packages/nimble
  - R CMD INSTALL packages/nimble

script:
  # - pip freeze
  - ./run_tests.R

after_success:
  - Rscript -e 'library(covr); if(R.version$os == "linux-gnu") codecov()'
