language: r

dist: trusty
sudo: false

cache:
  packages: true
  directories:
    - $HOME/.cache/pip

# We parallelize the tests into baches, and run only one batch on OS X.
matrix:
  include:
    - os: linux
      env: NIMBLE_TEST_BATCH=1
    - os: linux
      env: NIMBLE_TEST_BATCH=2
    - os: linux
      env: NIMBLE_TEST_BATCH=3
    - os: linux
      env: NIMBLE_TEST_BATCH=4
    - os: linux
      env: NIMBLE_TEST_BATCH=5
    - os: osx
      env: NIMBLE_TEST_BATCH=1 NIMBLE_USE_TENSORFLOW=0

warnings_are_errors: true

notifications:
  email:
    recipients:
      - dbt1@williams.edu
    on_success: always
    on_failure: always

branches:
  only:
    - devel

latex: false  # Work around tlmgr issues.

addons:
  apt:
    packages:
      - time  # For /usr/bin/time profiling.
      - python-virtualenv  # For tensorflow::install_tensorflow().

install:
  - pip2.7 install --upgrade --ignore-installed --user travis pip2 setuptools wheel virtualenv
  - ./install_requirements.R
  - pip2 freeze
  - R CMD build packages/nimble
  - R CMD INSTALL packages/nimble

script:
  - source /home/travis/.virtualenvs/r-tensorflow/bin/activate \
    || echo 'Missing tensorflow'
  - pip2 freeze
  - ./run_tests.R

after_success:
  - Rscript -e 'library(covr); if(R.version$os == "linux-gnu") codecov()'
