language: r

sudo: required

warnings_are_errors: true

notifications:
  email:
    recipients:
      - dbt1@williams.edu
    on_success: always
    on_failure: always

branches:
  only:
    - devel
    - travisTests
##  - master

install:
##  - Rscript -e "install.packages('devtools', repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('igraph',   repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('coda',     repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('testthat', repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('mvtnorm', repos = 'http://cran.us.r-project.org')"  ## needed for test-distributions.R
  - Rscript -e "install.packages('abind', repos = 'http://cran.us.r-project.org')"    ## needed for test-compareMCMCs.R
  - R CMD build packages/nimble
  - R CMD INSTALL packages/nimble

script:
    - Rscript packages/nimble/inst/tests/test-checkDSL.R
    - Rscript packages/nimble/inst/tests/test-compareMCMCs.R
    - Rscript packages/nimble/inst/tests/test-copy.R
    - Rscript packages/nimble/inst/tests/test-declare.R
    - Rscript packages/nimble/inst/tests/test-distributions.R
    - Rscript packages/nimble/inst/tests/test-dsl_dists.R
    - Rscript packages/nimble/inst/tests/test-filtering.R
    - Rscript packages/nimble/inst/tests/test-getBound.R
    - Rscript packages/nimble/inst/tests/test-getDependencies.R
    - Rscript packages/nimble/inst/tests/test-getDistributionInfo.R
    - Rscript packages/nimble/inst/tests/test-getParam.R
    - Rscript packages/nimble/inst/tests/test-math.R
    - Rscript packages/nimble/inst/tests/test-mcem.R
    - Rscript packages/nimble/inst/tests/test-mcmc.R
    - Rscript packages/nimble/inst/tests/test-misc.R
    - Rscript packages/nimble/inst/tests/test-models.R
    - Rscript packages/nimble/inst/tests/test-setData.R
    - Rscript packages/nimble/inst/tests/test-size.R
    - Rscript packages/nimble/inst/tests/test-trunc.R
    - Rscript packages/nimble/inst/tests/test-user.R

