language: r
sudo: false
cache: packages

# We parallelize the tests into baches, and only run one batch on OS X.
matrix:
  include:
    - os: linux
      env: NIMBLE_TEST_BATCH=1
    - os: linux
      env: NIMBLE_TEST_BATCH=2
    - os: linux
      env: NIMBLE_TEST_BATCH=3
    - os: linux
      env: NIMBLE_TEST_BATCH=4
    - os: linux
      env: NIMBLE_TEST_BATCH=5
    - os: osx
      env: NIMBLE_TEST_BATCH=1

warnings_are_errors: true

notifications:
  email:
    recipients:
      - dbt1@williams.edu
    on_success: always
    on_failure: always

branches:
  only:
    - devel
    - car

latex: false  # Work around tlmgr issues.

addons:
  apt:
    packages:
      - time  # For /usr/bin/time profiling.

install:
  - ./install_requirements.R
  - R CMD build packages/nimble
  - R CMD INSTALL packages/nimble

script: ./run_tests.R

after_success:
  - Rscript -e 'library(covr); if(R.version$os == "linux-gnu") codecov()'
