language: r

sudo: required

warnings_are_errors: true

notifications:
  email:
    recipients:
      - dbt1@williams.edu
      - dtemplelang@ucdavis.edu  
    on_success: always
    on_failure: always

branches:
  only:
    - devel
##  - master

install:
##  - Rscript -e "install.packages('devtools', repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('igraph',   repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('coda',     repos = 'http://cran.us.r-project.org')"
  - Rscript -e "install.packages('testthat', repos = 'http://cran.us.r-project.org')"
  - R CMD build packages/nimble
  - R CMD INSTALL packages/nimble

script:
    - Rscript packages/nimble/inst/tests/test-mcmc.R
    - Rscript packages/nimble/inst/tests/test-models.R
##  - Rscript packages/nimble/inst/tests/test-trunc.R
##  - Rscript packages/nimble/inst/tests/test-others.R
